BF2142Unlocker
BF2142Unlocker.exe
server
server.exe
fesl_server
fesl_server.exe
gpcm_server
gpcm_server.exe
unlock_server
unlock_server.exe
localaddrs
localaddrs.exe
checkserver
checkserver.exe
stdoutreader
stdoutreader.exe
signal
signal.exe
patcher
patcher.exe
BF2142UnlockerLauncher
BF2142UnlockerLauncher.exe
cdkey
cdkey.exe
resolutions
resolutions.exe
resolutions.dll
locale/*/
config.ini
lang.txt
BF2142Unlocker.res
libeay32.dll
ssleay32.dll
libncurses.so.5
deps/
build/
*.*~