deps/
build/
locale/*/
*.*~

BF2142Unlocker
BF2142Unlocker.exe
BF2142UnlockerSrv
BF2142UnlockerSrv.exe
protocols/fesl
protocols/fesl.exe
clients/fesl
clients/fesl.exe
clients/gspy
clients/gspy.exe
clients/master
clients/master.exe
servers/fesl
servers/fesl.exe
servers/gpcm
servers/gpcm.exe
servers/stats
servers/stats.exe
localaddrs
localaddrs.exe
checkserver
checkserver.exe
stdoutreader
stdoutreader.exe
sendmsg
sendmsg.exe
parser
parser.exe
signal
signal.exe
BF2142UnlockerLauncher
BF2142UnlockerLauncher.exe
resolutions
resolutions.exe
strhider
strhider.exe
ea
ea.exe
bf2142
bf2142.exe

config.ini
logins.ini
lang.txt
BF2142Unlocker.res
error.log

libeay32.dll
ssleay32.dll
libssl.so.1.0.0
libcrypto.so.1.0.0
libncurses.so.5