thirdparty/*
!thirdparty/patch
build/
locale/*/
*.*~

libeay32.dll
ssleay32.dll
libssl.so.1.0.0
libcrypto.so.1.0.0
libncurses.so.5

BF2142Unlocker
BF2142Unlocker.exe
BF2142Unlocker.res
BF2142UnlockerSrv
BF2142UnlockerSrv.exe
BF2142UnlockerSrv.res
BF2142UnlockerLauncher
BF2142UnlockerLauncher.exe
lang.txt

protocol/fesl
protocol/fesl.exe
protocol/gspy
protocol/gspy.exe

client/fesl
client/fesl.exe
client/gspy
client/gspy.exe
client/master
client/master.exe

server/fesl
server/fesl.exe
server/gpcm
server/gpcm.exe
server/stats
server/stats.exe

module/localaddr
module/localaddr.exe
module/checkserver
module/checkserver.exe
module/resolution
module/resolution.exe
module/strhider
module/strhider.exe

module/windows/docpath
module/windows/docpath.exe
module/windows/gethwndbypid
module/windows/gethwndbypid.exe
module/windows/getprocessbyname
module/windows/getprocessbyname.exe
module/windows/stdoutreader
module/windows/stdoutreader.exe
module/windows/sendmsg
module/windows/sendmsg.exe

module/linux/registry
module/linux/registry.exe

module/gintro/liststore
module/gintro/liststore.exe

module/gintro/infodialog
module/gintro/infodialog.exe

module/gintro/exceptiondialog
module/gintro/exceptiondialog.exe

macro/signal
macro/signal.exe

patcher/bf2142
patcher/bf2142.exe

registry/bf2142/cdkey
registry/bf2142/cdkey.exe

registry/bf2142/clientpath
registry/bf2142/clientpath.exe

registry/bf2142/clientlang
registry/bf2142/clientlang.exe

parser/gamesrv
parser/gamesrv.exe

profile/video
profile/video.exe

profile/audio
profile/audio.exe

profile/general
profile/general.exe

profile/global
profile/global.exe

profile/serversettings
profile/serversettings.exe

profile/profile
profile/profile.exe

profile/controls
profile/controls.exe

page/setting/video
page/setting/video.exe

page/setting/audio
page/setting/audio.exe

page/setting/hud
page/setting/hud.exe

config/config.ini
config/login.ini

log/
!log/.gitkeep
