/* .justPlay {
  font-weight: bold;
  font-size: 2em;
} */
actionbar button.link {
  padding: 0 0.5em 0 0.5em;
}

.terminal > .view, .terminal > .view text {
  background-color: black;
}

.terminal.view text {
  color: white;
  font-size: 2px;
}