actionbar button.link {
  padding: 0 0.5em 0 0.5em;
}

button.link {
  padding: 0;
}

.error > border {
  border-color: #CC0000;
}

.error > label {
  color: #CC0000;
}

/* Windows only
   Info: Terminal class is only added on windows build,
         because VTE is not supported on windows.
         It is replaced with a TextView.
*/
.terminal > .view, .terminal > .view text {
  background-color: black;
}

.terminal.view text {
  color: white;
}

.terminal {
  font-family: Consolas;
}