.button {
  background-image: none;
  background-color: #232323;
  color: teal;
  border: 1px solid teal;
  box-shadow: 0px 0px 4px 2px rgba(0, 128, 128, .5);
  text-shadow: none;
}

.button > label:backdrop {
  color: teal;
}

.button:hover {
  color: rgb(0, 160, 160);
  box-shadow: 0px 0px 4px 4px rgba(0, 160, 160, .5);
  border: 1px solid rgb(0, 160, 160);
}

.button:active {
  color: rgb(0, 160, 160);
}

.box {
  background-color: #323232;
}

notebook {
  border: none;
}

notebook tabs {
  background-color: #232323;
  /* border-bottom: 1px solid teal;
  box-shadow: 0px 0px 4px 3px rgba(0, 128, 128, .5); */
}

notebook tab {
  color: teal;
}

notebook tab > label:backdrop {
  color: teal;
}

notebook tab:hover {
  color: rgb(0, 160, 160);
  box-shadow: 0px -3px rgba(0, 160, 160, .3) inset;
}

notebook tab:checked {
  box-shadow: 0px -3px teal inset;
}
/* combobox window {
  box-shadow: 0px 0px 4px 4px rgba(0, 160, 160, .5);
} */

combobox menu {
  background-color: #232323;
  color: teal;
  border: 1px solid teal;
}

combobox menuitem:hover {
  color: rgb(0, 160, 160);
  background-color: rgba(0, 128, 128, .25);
}

scale value {
  color: teal;
}
scale highlight {
  border: 1px solid teal;
  background-color: teal;
}
scale trough {
  border: 1px solid rgb(0, 160, 160);
  background-color: rgb(0, 160, 160);
}
scale slider {
  border: none;
  box-shadow: none;
  background-image: none;
  background-color: rgb(0, 160, 160);
}
scale slider:hover {
  background-color: rgb(0, 160, 160);
  box-shadow: 0px 0px 4px 4px rgba(0, 160, 160, .5);
}

.label {
  padding: 0;
  color: white;
}

checkbutton check {
  -gtk-icon-shadow: none;
  background-image: none;
  background-color: #232323;
  border: 1px solid teal;
  color: teal;
  box-shadow: 0px 0px 4px 2px rgba(0, 128, 128, .5);
}

checkbutton check:hover {
  color: rgb(0, 160, 160);
  box-shadow: 0px 0px 4px 4px rgba(0, 160, 160, .5);
  border: 1px solid rgb(0, 160, 160);
}

combobox button {
  -gtk-icon-shadow: none;
  text-shadow: none;
  background-image: none;
  background-color: #232323;
  border: 1px solid teal;
  color: teal;
  box-shadow: 0px 0px 4px 2px rgba(0, 128, 128, .5);
}

combobox button:hover {
  color: rgb(0, 160, 160);
  box-shadow: 0px 0px 4px 4px rgba(0, 160, 160, .5);
  border: 1px solid rgb(0, 160, 160);
}

.entry {
  caret-color: teal;
  background-image: none;
  background-color: #232323;
  border: 1px solid teal;
  color: teal;
  box-shadow: 0px 0px 4px 2px rgba(0, 128, 128, .5);
}

.entry.fake-hover {
  box-shadow: 0px 0px 4px 4px rgba(0, 160, 160, .5);
  border: 1px solid rgb(0, 160, 160);
}

spinbutton {
  background-color: #232323;
  border: 1px solid teal;
  color: teal;
  box-shadow: 0px 0px 4px 2px rgba(0, 128, 128, .5);
}

spinbutton button {
  /* background-image: none;
  text-shadow: none;
  box-shadow: none; */
  border-left: 1px solid teal;
  color: teal;
  -gtk-icon-shadow: none;
}

spinbutton button:hover {
  color: rgb(0, 160, 160);
}

spinbutton.fake-hover {
  border: 1px solid rgb(0, 160, 160);
  box-shadow: 0px 0px 4px 4px rgba(0, 160, 160, .5);
}

scrolledwindow scrollbar {
  background-color: rgba(0, 128, 128, .25);
  border-radius: 0px;
  border: none;
  border-left: 1px solid teal;
}

scrolledwindow slider {
  border-radius: 0px;
  border: none;
  background-color: rgb(0, 160, 160);
}

scrolledwindow {
  border: 1px solid teal;
  box-shadow: 0px 0px 4px 2px rgba(0, 128, 128, .5);
  /* border-radius: 3px; */
}

treeview {
  background-color: #232323;
  color: teal;
}

treeview:selected {
  background-color: rgba(0, 128, 128, .25);
  color: rgb(0, 160, 160);
}

treeview header > :first-child {
  /* border-top-left-radius: 3px; */
}

treeview header > :last-child {
  /* border-top-right-radius: 3px; */
  border-right: none;
}

treeview header > * {
  border: none;
  color: teal;
  border-right: 1px solid teal;
  border-bottom: 1px solid teal;
  background-color: #232323;
}

treeview header label:backdrop {
  color: teal;
}

actionbar {
  background-color: #232323;
}

actionbar > revealer > box {
  border: none;
  border-top: 1px solid teal;
  box-shadow: 0px 0px 4px 4px rgba(0, 128, 128, .5);
}

actionbar label, actionbar label:backdrop {
  color: white;
}

actionbar button.link {
  padding: 0;
}

actionbar button.link > label {
  color: teal;
}

separator {
  background-color: teal;
  box-shadow: 0px 0px 4px 3px rgba(0, 128, 128, .5);
}